<section class="hero is-link is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <i class="fas fa-globe-americas"></i>&nbsp;
            {{ title }}
          </a>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle">
        Clique <b>Permir</b> para o navegador acessar sua geo-localização
      </h2>
      <p *ngIf="accAllowed" class="content is-medium">
        Latitude: <b>{{ coords.lat }}</b>, Longitude: <b>{{ coords.long }}</b>
      </p>
      <p *ngIf="!accAllowed" class="content is-medium">
        Algum <b>erro</b> ocorreu, tente recarregar a página
      </p>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li>
            <a
              [href]="mapURL"
              target="_blank" 
              rel="noopener noreferrer"
            >
              Onde estou? (Google Maps)
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</section>

<router-outlet></router-outlet>